.post__form input{
    width: 90%;
    padding: 10px;
    font-size: medium;
    font-weight: 700;
    margin: auto;
}
.quill{
    width: 92%;
    padding: 5px;
    font-size: medium;
    font-weight: 700;
    margin: auto;
}
.post__form  {
     display: flex;
     flex-direction: column;
     width: 100%;
     padding: 20px;
     gap: 10px;
}
.post__container{
    margin-top: 50px;
}
.post__textarea{
    width: 30%;
    margin-left: 4%;
    padding: 20px;
    height: 200px;
}
.ip{
    border: 1px solid black;
}
.post__btn{
    width: 92%;
    margin: auto;
    padding: 10px;
    font-size: large;
    font-weight: 700;
}