.header__container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
}
.header__container > a , nav > a {
  text-decoration: none;
  font-size: 30px;
  color: inherit;
}
.header__container > nav{
  display: flex;
  column-gap: 40px;
  font-weight: 600;
}
.display__container{
  height: max-content;
  display: flex;
  flex-direction: column;
}
.trash{
  text-decoration: none;
  color: inherit;
}
.blog__content{
  display: flex;
  justify-content: center;
  height: 300px;
  /* align-items: center; */

}
.blog__image{
display: flex;
  justify-content: flex-end;
  /* border: 2px solid red; */
  width: 35%;
  position: relative;
  padding: 20px;
}
.blog__image > img{
  
  width: 350px;
  height: 90%;
  margin-top: 20px;

  /* border-radius: 20px; */
 
}

.blog__text{
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: 2px solid red; */
  padding: 20px;
}
.blog__text > h1{
  font-size: 1.8rem;
  /* text-align: left; */
  display: flex;
  width: 80%;
  line-height: 1.8rem;
}
.blog__text > span {
   width: 80%;
   /* text-align: left; */
   display: flex;
}
.blog__info{
  display: flex;
  justify-content: flex-start;align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}
.author{
  text-decoration: none;
  cursor: pointer;
}
.no__blog{
  margin: auto;
  display: block;
  width: fit-content;
  font-weight: 900;
  font-size: x-large;
}
.toggle__search > form{
  padding: 20px;
  background-color: #1b1c1e;
  color: white;
  width: 76%;

  display: flex;
  gap: 7%;
  position: absolute;
  top: 40px;
  z-index: 1;
}
.toggle__search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle__search > form > i {
  font-size: x-large;
  cursor: pointer;
}
.toggle__search > form > input{
  padding: 20px;
  background: transparent;
  border: 2px solid #323335;
  font-size: large;
  width: 90%;
  margin: auto;
color: white;

}
.blog__button{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #e63946;
  background-color: inherit;
  color: #e63946;
  cursor: pointer;
}
.parent__refresh__btn{
  width: 100%;
  display: flex;
}
.ham__burger{
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1b1c1e;
  max-width: 360px;
  width: 100%;
  padding: 80px 20px;
  overflow-y: scroll;
  z-index: 99;
  color: white;
  display: flex;
  font-size: x-large;
}
.ham__burger > i{
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.ham__burger > ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.ham__burger > ul > li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.ham__burger > ul > li > a{
  color: white;
  text-decoration: none;
}
.refresh__btn{
  padding: 20px;
  width: fit-content;
  border: 1px solid #e63946;
  color: #fff;
  font-weight: 700;
  font-size: large;
  background-color: #e63946;
  margin: 20px auto;
  border-radius: 5px;
  cursor: pointer;
}
.blog__button:hover{
  color: #f1faee;
  background-color: #e63946;
}
@media screen and (max-width: 912px){
  .blog__image > img{
    width: 260px;
  }
}
@media screen and (max-width: 800px){
  .header__container{
    margin: 10px 10px;
    justify-content: space-around;
  }
  .ham__burger{
    max-width: 200px;
  }
}

@media screen and (max-width: 698px){
  .blog__text > h1{
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .blog__text > span{
    width: 100%;
  }
  .blog__image{
    width: 40%;
  }
  .blog__text{
    width: 60%;
    margin-right: 20px;
  }
  .blog__image > img{
    width: 150px;
    height: 72%;
  }

}
.header__container > a{
  color: inherit;
}
@media screen and (max-width:560px){
.blog__content {
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin: 20px;
  border: 1px solid #e63946;
}
.blog__image{
  width: 100%;
  justify-content: center;
}
.blog__image > img{
  width: 80%;
  height: 200px;
}
.blog__text{
  width: 90%;
  margin-right: 0px;
  margin: auto;
}
.header__container > nav{
  column-gap: 30px;
}
.header__container > a, nav>a{
  font-size: 20px;
}
}